*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./momentmeditaiton.jpeg);
    background-position: center;
    background-size: cover;
    
}
.navbar{
    display: flex;
    height: 13%;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.navbar:hover{
    transform: translateY(-10px);
}
nav{
      flex: 2;
      text-align: center;
      margin: auto;     

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul a{
    font-optical-sizing: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
h1{
    color: white;
    font-size: 100px;
}

h3{
    color: white;
    font-size: 20px;
    line-height: 26px;
    padding-top: 30px

}
p{
    color: white;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 50px;
    padding-top: 70px;
    text-align: center;
    
    
    
}
h4 {
    color: white;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align:left


  }
  

h5{
    font-size: 22px;
    color: white;
    display: inline-flexbox;

   
    
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
   

}
.col{
    flex-basis: 50%;
    transition: transform 0.5s;
}
.col:hover{
    transform: translateX(15px);
}

.projectcard{
    width: 340px;
    height: 260px;
    display: inline-flex;
    border-radius: 20px;
    padding: 10px 15px ;
    background-image: linear-gradient(rgba(250, 250, 250, 0.841),rgba(58, 58, 58, 0.7)),url(./Images/hallskymind.jpeg);
    
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    

   
}




.projectcard1{
    background-image: linear-gradient(rgba(91, 82, 82, 0.841),rgba(223, 231, 139, 0.7)),url(./Images/flamingo.jpeg);
}
.projectcard2{
    background-image: linear-gradient(rgba(243, 167, 246, 0.841),rgba(157, 229, 240, 0.7)),url(./Images/dusk\ plate\ .jpeg);
    
}
.projectcard3{
    background-image: linear-gradient(rgba(182, 126, 202, 0.841),rgba(174, 229, 233, 0.7)),url(./Images/hallskymind.jpeg);
    
}
.projectcard4{
    background-image: linear-gradient(rgba(71, 72, 73, 0.841),rgba(228, 170, 231, 0.7)),url(./Images/ladder\ boy\ moon.jpeg);
    
}
.projectcard5{
    background-image: linear-gradient(rgba(64, 64, 64, 0.841),rgba(234, 181, 129, 0.7)),url(./Images/Bridge\ pink\ sky.jpeg);

}

.projectcard:hover{
    transform: translateY(-11px);
}


.hidden { 
    display: none;
}

.description-button {

    align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  height: min-content;
    
}




